[submodule "practice/cmake/src/TestSome2/glfw"]
	path = practice/cmake/src/TestSome2/glfw
	url = https://github.com/glfw/glfw.git
[submodule "practice/alamode/alamode"]
	path = submodule/alamode/alamode
	url = https://github.com/ttadano/alamode.git
